body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  width: 300px;
  height: 300px;
}

.all-products-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  padding-left: 10px;
}

.cart-container {
  display: flex;
}

#buttons-allItems {
  display: flex;
  justify-content: space-between;
}

.product-container {
  padding: 1rem;
}
